.content{
    overflow: hidden;
    padding-top: 100px;
    margin: 0px 0 0 100px;
}
.left-content{
    width: 55%;
    float: left;
}
.right-content{
    overflow: hidden;
    float: left;
}
.left{
    margin-right: 20px;
}
.right{
    margin-right: 150px;
}
h5{
    margin: 0 0px;
    font-size: 16px;
}
.cs{
    padding: 0;
    margin: 0 ;
}
.left2{
    margin: 0 0px 50px 0px;
}
.right2{
    margin: 0 0px 50px 0px;
}
.right{
    
    margin-right: 0;
}
.imgbxh1{
    width: 160px;
    height: 160px;
}
.choose{
    background: silver;
}
.baihat2{    
    margin: 60px 10px;
    font-size: 18px;
    font-weight: 500;
}
.a{
    margin-top: 85px;
    margin-bottom: 15px;
    font-weight: bold;
}
.b{
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px;
}
.c{
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0px;
    padding: 0;
}
.bh3{
    color: black !important;
    font-weight: 500;
    padding: 0;
}
.footer{
    background: black;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: white;
}