/* vietnamese */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2fRMc6C39aem-aUPzsV2c2w.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2e87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../fonts/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
  }


body{
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    #container{
        max-width: 100%;
        .sky{
            .bkg{
                z-index: -9999999999999;
                position: fixed;
                width: 100vw;
                height: 125vh;
            }
        }
        #header{
            background: rgba(19, 19, 19, 0.9);
            position: fixed;
            width: 100%;
            z-index: 20;
        }
        #wrapper{
            width: 1100px;
            margin: 0 auto;
            overflow: hidden;
        }
        #footer{
            background: rgba(255, 255, 255, 0.303);
        }
    }
}

.header-top{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    .logo{
        float: left;
        height: 30px;
         a{
            text-decoration: none;
            font-size: 10px;
            img{
                 width: 30px;
                 padding-top: 4px;
                 opacity: 1;
                 &:hover{
                     opacity: 0.7;
                 }
            }
        }
    }
    .nav-top{
        float: left;
        margin: 5px 0px 0px 100px;
        ul{
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                padding: 5px 0px;
                border-radius: 5px 5px 0px 0px;
                margin-right: 10px;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    padding: 5px 10px;
                }
                &:hover{
                    background: #025fbc;
                }
                &:hover a{
                    color: #fff;
                }
            }
            .chose{
                background: #025fbc;
                a{
                    color: #fff;
                }
            }
        }
    }
    .form{
        float: left;
        margin: 5px 0px 5px 50px;
        position: relative;
        .search{
            border: none;
            padding: 7px 68px 7px 7px;
            border-radius: 5px;
            width: 420px;
        }
        .img{
            position: absolute;
            top: 0;
            right: 0;
            width: 29px;
            border-radius: 0 5px 5px 0; 
            padding: 0 20px;
            &:hover{
                background: #025fbc;
            }
        }
    }
    .follow{
        float: right;
        margin-top: 2px; 
        .fb{
            float: left;
            margin: 5px 10px 0px;
            a{
                img{
                    &:hover{
                        background: #025fbc;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}
.logo1{
    width: 500px;
    margin: 70px auto 40px;
    h2{
        color: #ffffff;
        font-size: 121px;
        text-shadow: 7px 1px #afafaf;
        margin: 0;
    }
}
.content{
    width: 70%;
    float: left;
    overflow: hidden;
    .text{
        margin: 50px auto 100px;
        position: relative;
        text-align: center;
        &::before{
            content: "";
            background: rgba(255, 255, 255, 0.707);
            position: absolute;
            height: 5px;
            width: 100%;
            top: 20px;
            left: 0;
            z-index: 0;
        }
        h2{
            margin: 0;
            font-size: 35px;
            z-index: 5;
            padding: 0px 20px;
            position: absolute;
            background: #fff;
            left: 90px;  
            border-radius: 10px;
            a{
                text-decoration: none;
                color: #025fbc;
                &:hover{
                    color: #025fbc;
                }
            }
        }
    }
    .one{
        overflow: hidden;
        padding-bottom: 50px;
        margin: 150px 0 50px;
        .sp{
            overflow: hidden;
            margin-bottom: 50px;
            .left{
                float: left;
                img{
                    opacity: 1;
                    width: 209px;
                    height: 300px;
                    margin: 20px 20px 0 0;
                    &:hover{
                        opacity: 0.9;
                    }
                }
            }
            .right{
                margin: 10px 0px 0px 10px;
                h2{
                    font-size: 40px;
                    margin: 0 0 25px 0;
                    color: #0011ff;
                    a{
                        text-decoration: none;
                        &:hover{
                            color: #025fbc;
                        }
                    }
                }
                p{
                    font-size: 30px;
                    margin: 25px 0 20px 0;
                    font-weight: bold;
                }
                strong{
                    font-size: 25px;
                    a{
                        color: #025fbc;
                        text-decoration: none;
                        padding: 5px 10px;
                        font-weight: bold;
                        &:hover{
                            color: #025fbc;
                        }
                    }
                }
            }
        }
    }
}
.sidebar{
    width: 30%;
    float: left;
    overflow: hidden;
    .nav{
        margin: 70px 0px 50px 57px;
        background: url(../img/fox.jpg);
        background-size: 100% 100%; 
        ul{
            padding: 0;
            margin: 0 auto;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
            font-size: 25px;
            li{
                display: inline-block;
                width: 100%;
                border-bottom: 1px solid #c0c0c0;
                &:hover ul{
                    display: block;
                }
                &:hover .in{
                    background: #bbbbbb;
                    color: #025fbc;
                }
                a{
                    display: inline-block;
                    padding: 20px 0;
                    width: 100%;
                    text-decoration: none;
                    color: #131313;
                    font-weight: bold;
                    &:hover{
                        background: #bbbbbb;
                        color: #025fbc;
                    }
                }
                .chose{
                    background: #bbbbbb;
                    color: #025fbc;
                }
                ul{
                    background: #131313cc;
                    text-align: center;
                    width: 274px;
                    right: 433px;
                    top: 305px;
                    display: none;
                    padding: 10px 10px;
                    z-index: 10;
                    li{
                        a{
                            color: #fff;
                        }
                    }
                }
                .num1{
                    top: 370px;
                }
                .num2{
                    top: 435px;
                }
                .num3{
                    top: 350px;
                }
                .num4{
                    top: 415px;
                }
            }
            .last{
                border: none;
            }
        }
    }
    .bottom{
        overflow: hidden;
        background: rgba(255, 255, 255, 0.303);
        margin: 25px 0px 0px 57px;
        font-weight: bold;
        .slogan{
            text-align: center;
            margin: 20px;
            h2{
                color: #025fbc;
                font-size: 56px;
                margin: 0;
            }
            p{
                color: #000000;
                font-size: 30px;
            }
        }
        .follow{
            margin: 20px;
            overflow: hidden;
            text-align: center;
            h2{
                color: #025fbc;
                font-size: 50px;
            }
            .fl{
                width: 132px;
                overflow: hidden;
                margin: 0 auto;
                .fb{
                    float: left;
                    margin: 5px 10px 0px;
                    a{
                        img{
                            &:hover{
                                background: #025fbc;
                                border-radius: 30px;
                            }
                        }
                    }
                }
            }
        }
        .contact{
            margin: 40px;
            text-align: center;
            h2{
                color: #025fbc;
                font-size: 50px;
                margin: 0 0 44px 0;
            }
            p{
                color: #000000;
                font-size: 20px;
            }
        }
    }
}
.footer-bottom{
    text-align: center;
    padding: 20px 0px;
    background: rgba(19, 19, 19, 0.9);
    p{
        color: #ffffff;
        font-weight: bold;
        margin: 0;
        font-size: 20px;
    }
}
#leaves {position: fixed;width:100%;text-align: right;}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }

#leaves i:before {
  position: absolute;
  content: '';
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, rgba(0,100,0,1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius:50%;
}


#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }

#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}