* {
    padding: 0;
    margin: 0;
}

body{
    font-size:15px; 
    margin: 0;
   }
.headertop{
    background-color: black;
    width: 100%; 
    height: 61px;
}
 .header{
    width: 100%;
    position: fixed;
    background: black;
 }
 .logo{
     float: left;
     margin: 5px 90px 0px;
     width: 0;
 }
 .ulMenu{
    margin: 0 90px;
    padding: 0 0 0px 50px;
 }
 a{
     text-decoration: none;
     font-weight: bold;
     padding: 30px 0px;
     color: white !important;
 }
 .mainmenu{
    float: left;
    font-size: 15px;
    padding: 0 0;
    text-align: left;
    text-transform: uppercase;
    
 }
 li {
     display:inline-block;
     margin-right: 111px;
     position: relative;
     padding: 20px 46.5px;  
     margin: 0;
 }
 li:hover{
    background: silver;
 }
 ul li:hover .submenuitem{
     display: block;
 }

 .submenuitem li a{
    padding-left: 15px;
 }
 .submenuitem li{
    border-bottom: 1px solid white;
    padding: 10px 0px;
    margin: 0;
    width: 100%;
 }
 .submenuitem li:hover{
     
    background: #9df3ec;
 }
 .submenuitem .last{
     border-bottom: none;
 }
.top{
    padding-top: 70px;
    overflow: hidden;
}
 .left-top{
    float: left;
    margin: 40px; 
 }
 .right-top{
    margin: 30px 0;
    float: left;
    width: 50%;
 }
.bot{
    overflow: hidden;
   margin:  20px 16px;
 }
 .left-bot{
    float: left;
    margin: 0 40px;
 }
 .baihat{
    overflow: hidden;    
    margin: 0 101px 0 0 ;
 }
.baihat-left{
    width: 100%;
}
.baihat1{
    padding: 10px;
    width: 100%;
}
.bai{
    width: 70%;
    margin: 20px 20px;
}
.ca{
    width: 30%;
    margin: -15px 213px;
}
 .right-bot{
    float: left;
    overflow: hidden;
    width: 58%;
    margin-top: 25px;
 }
 
.anh{
    margin: 29px 25px 0px 0px;
}
.imgcs{
    height: 134px;
    width: 212px;
}
.ten{
    text-align: center;
    font-size: 23px;
}
h5{
    margin: 0;
    font-size: 16px;
    font-weight: unset;
}
h4{
    font-size: 16px;
    font-weight: normal;
    font-family: inherit;
}
h6{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: 25px 0px 30px;
    
}
.baihat .left1{
    float: left;
}
.baihat .left1 .left2{
    border-top: 1px solid silver;
    overflow: hidden;
 }
 .baihat .left1 .left2 h5 {
    margin: 25px 0;
    float: left;
    font-size: 16px;
}

.baihat p{
    float: right;
    color: #737373;
}
.baihat .left1 .left2 p{
    margin: 0 0px;
}

.baihat2{
    overflow: hidden;
    margin: 0 10px;
}
.right-bot .casi{
    float: left;
}
.ns{
    margin: 0;
    text-align: left;
}
.left2{
    padding: 10px 0;
}
.bh3{
    color: black !important;
    font-weight: 500;
}
.cs3{
    color: #737373 !important;
    font-weight: 500;
}
.footer{
    background: black;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: white;
}